<div class="data-column-set">
	<div class="data-column">
		<table class="form-table">
			
			<tr>
				<th width="120">$insert.control("loginNameLabel")</th>
				<td>$insert.control("logonName")</td>
			</tr>
			<tr>
				<th>$insert.control("rolesLabel")</th>
				<td>$insert.control("chkRoles")</td>
			</tr>
		</table>
	</div>
</div>