<h3>Button</h3>

<table>
	<tr>
		<th>Click this Button:</th>
		<td>$insert.control("button")</td>
	</tr>
	<tr>
		<th>And see how this label is updated:</th>
		<td>$insert.control("label")</td>
	</tr>
</table>	