<div class="homePageNew">
	<div class="homePageHeader">
		<div class="contentHeader roundAll">
			<div class="pageTitle"><h1>$insert.control("lbWelcome")</h1></div>
			<div class="pageSubtitle">Home</div>
		</div>
	</div>	
	<div class="homePageBody">
			$insert.control("qlPanel")	
	</div>
	$insert.control("ckRestore")
</div>




