<table>
	<tr>
		<th>Title</th>
		<td>$insert.control("inpTitle")</td>
	</tr>
	<tr>
		<th>Description</th>
		<td>$insert.control("inpDescr")</td>
	</tr>
	<tr>
		<th>Price</th>
		<td>$insert.control("inpPrice")</td>
	</tr>
	<tr>
		<th></th>
		<td>$insert.control("btUpdate") $insert.control("btIncr") $insert.control("btDecr")</td>
	</tr>
</table>