<div>

	<div style="float: left; width: 400px; height: 300px;">
		$insert.control("manipulator")
	</div>
	<div style="float: left; width: 400px; height: 300px;">
		$insert.control("viewer")
	</div>

</div>