<table>
	<tr>
		<td>$insert.control("employeeCombo")</td>
		<td>$insert.control("btAddEmployee")</td>
	</tr>
	<tr>
		<td >$insert.control("usersListBox")</td>
		<td style="vertical-align:top;">$insert.control("btRemoveSelected")</td>
	</tr>
</table>