<div class="contentPanel">
	<table>
		<tr>
			<th>Key</th>
			<td>$insert.control('ibKey')</td>
		</tr>
		<tr>
			<th>Title</th>
			<td>$insert.control('ibTitle')</td>
		</tr>
		<tr>
			<th>Linked Property</th>
			<td>$insert.control('ibLinkedProperty')</td>
		</tr>
	</table>
	<div class="v-spacer">
	
	</div>
	<div>
		$insert.control('grpPe')
	</div>
</div>