$insert.control('errorWarning')
<table>
	<tr>
		<td><div style="float:right;">$insert.control('btnDelete')&nbsp;&nbsp;&nbsp;$insert.control('btnNew')</div></td>
	</tr>
	<tr>
		<td>
			<div style="width:455px;">
				$insert.control('peTable')
			</div>
		</td>
		<td>
			<div class="h-spacer"></div>
		</td>
		<td style="vertical-align:top;">
			<div>
				$insert.control('peEditor')
			</div>
		</td>
	</tr>
</table>
