
<th>Picklist Text</th>
<td colspan="2">$insert.control('ibText')</td>
<td>$insert.control('ddLanguages')</td>
<td>
<a href="$control.container.createActionURL('removeControl', $control.getName())">
		<img src="icons/closed.png" style="cursor: pointer;" border="0"/>
</a></td>

