<div style="padding: 10px; background-color: #F5F5DC;">
	This is your place to start playing around with jWic by yourself. You can find the control in the <code>sandbox-app</code> module, 
	package <code>de.xwic.sandbox.app.samples.play</code>, class <code>PlayWithMe</code>.
</div>

<div style="padding: 10px;">
$insert.control("playWithMe")
</div>